html, body {
  height: 100%;
  margin: 0;
}

body {
  flex-direction: column;
  height: 100%;
}



/*Seccion de seguimiento*/

.h2Seguimiento {
  /* Estilos específicos para el h2 de Seguimiento */
  font-size: 65px; /* Cambiar el tamaño de la fuente */
  color: black; /* Cambiar el color del texto */
  text-align: left; /* Cambiar la alineación del texto */
  /* Propiedades de posición */
  position: absolute;
  top: 175px; /* Distancia desde la parte superior */
  left: 700px; /* Distancia desde la izquierda */
  right: 40px; /* Distancia desde la derecha */
  bottom: 10px; /* Distancia desde la parte inferior */
  /* Agregar otros estilos según necesites */
}

.h2textSeguimiento {
  /* Estilos específicos para el h2 de Seguimiento */
  font-size: 35px; /* Cambiar el tamaño de la fuente */
  color: black; /* Cambiar el color del texto */
  text-align: left; /* Cambiar la alineación del texto */
  /* Propiedades de posición */
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 300px; /* Distancia desde la parte superior */
  left: 700px; /* Distancia desde la izquierda */
  right: 40px; /* Distancia desde la derecha */
  bottom: 10px; /* Distancia desde la parte inferior */
  /* Agregar otros estilos según necesites */
}

@keyframes moverRotar {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-20px) rotate(-10deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}


.megafono {
  /* Estilos para la clase megafono */
  animation: moverRotar 2s ease-in-out infinite; /* Aplicar la animación */
  position: absolute; /* Se posiciona de forma absoluta */
  top: 200px; /* Distancia desde la parte superior */
  left: 400px; /* Distancia desde la izquierda */
  right: 150px; /* Distancia desde la derecha */
  bottom: 50px; /* Distancia desde la parte inferior */
  width: 300px; /* Ancho del elemento */
  height: 300px; /* Altura del elemento */
  /* Agregar otros estilos según sea necesario */
}

   /* Estilos para las imágenes */
.contenedor-imagen {
  position: relative;
  display: inline-block;
  left: 400px;
  top: 800px;
  margin: 25px; /* Espacio entre las imágenes */
}

/* Estilos para los textos debajo de las imágenes */
.contenedor-imagen h2 {
  position: relative;
  bottom: -30px; /* Ajusta la posición vertical del texto */
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 10px; /* Espacio entre el texto y la imagen */
  max-width: 225px; /* Ancho máximo del h2 */
}

/* Estilos para las imágenes */
.paso1, .paso2, .paso3, .paso4 {
  width: 200px;
  height: auto;
}




  /* Estilos para el botón */
.boton-modal {
  background-color: #2d3a81;
margin-top: -50px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 1300px; /* Ajusta la posición vertical del botón */
  left: 740px; /* Ajusta la posición horizontal del botón */
  cursor: pointer;
  border: none;
  border-radius: 5px;
}


    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      position: relative;
    }

    /* Estilos para los botones dentro del modal */
    .close-button {
      background-color: #ccc;
      color: black;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      margin-top: 10px;
      margin-right: 10px;
    }

    .close-button:hover {
      background-color: #ddd;
    }

    
.accessibility-menu {
  position: absolute;
  top: 50px; /* Ajusta la posición vertical del menú */
  right: 10px; /* Ajusta la posición horizontal del menú */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Estilos para el botón de accesibilidad */
.boton-accesibilidad {
  background-color: #2d3a81;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el menú de accesibilidad */
.accessibility-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  border-radius: 5px;
}

.accessibility-menu h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2d3a81;
}

.accessibility-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accessibility-menu {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #fff; /* Cambiar el color de fondo del menú si es necesario */
  border: 1px solid #ccc; /* Estilo del borde */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 10px; /* Espaciado interno */
}

.accessibility-menu ul {
  list-style: none;
  padding: 0;
}

.accessibility-menu button {
  background-color: #2d3a81;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.accessibility-menu button:hover {
  background-color: #1e266d;
}

.modal-contenido p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto; /* Permite desplazamiento si el contenido es mayor que el tamaño del modal */
}

.modal-contenido {
  background-color: #fff;
  width: 500px; /* Ancho fijo */
  max-width: 250vw; /* Límite máximo relativo al ancho de la ventana */
  max-height: 100vh; /* Límite máximo relativo a la altura de la ventana */
  padding: 20px;
  border-radius: 20px; /* Aumenta el valor para esquinas más redondas */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede el límite */
}



/* Estilos para cerrar el modal (se mantienen) */
.cerrar-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#formulario {
  display: flex;
  flex-direction: column;
}

#nombre,
#apellidoPaterno,
#apellidoMaterno,
#email,
#telefono {
  margin-bottom: 0px;
  padding: 6px;
  border-radius: 100px;
  border: 2px solid #ccc;
  max-width: 20vw; /* Límite máximo relativo al ancho de la ventana */
  /* Otros estilos que desees aplicar */
}

.modal-contenido h2 {
  font-size: 35px; /* Tamaño de letra para el h2 */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 5mm; /* Ajusta el margen para centrar el elemento */
}

.modal-contenido label {
  font-size: 20px; /* Tamaño de letra para los labels */
}

/*Estilos de los circulos para migajas de pan*/
.circle1 {
  position: absolute;
  top: 142px; /* Ajusta la distancia desde la parte superior */
  right: 550px; /* Ajusta la distancia desde el borde derecho */
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}


.circle1-1 {
  position: absolute;
  top: 210px; /* Ajusta la distancia desde la parte superior */
  right: 573px; /* Ajusta la distancia desde el borde derecho */
  width: 15px; /* Ancho del círculo */
  height: 15px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1-1 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}


.circle2 {
  position: absolute;
  top: 230px; /* Ajusta la distancia desde la parte superior */
  right: 550px; /* Ajusta la distancia desde el borde derecho */
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}

.circle1-2 {
  position: absolute;
  top: 300px; /* Ajusta la distancia desde la parte superior */
  right: 573px; /* Ajusta la distancia desde el borde derecho */
  width: 15px; /* Ancho del círculo */
  height: 15px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1-2 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}





.circle3 {
  position: absolute;
  top: 325px; /* Ajusta la distancia desde la parte superior */
  right: 550px; /* Ajusta la distancia desde el borde derecho */
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle3 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}

.circle1-3 {
  position: absolute;
  top: 395px; /* Ajusta la distancia desde la parte superior */
  right: 573px; /* Ajusta la distancia desde el borde derecho */
  width: 15px; /* Ancho del círculo */
  height: 15px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1-3 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}




.circle4 {
  position: absolute;
  top: 420px; /* Ajusta la distancia desde la parte superior */
  right: 550px; /* Ajusta la distancia desde el borde derecho */
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle4 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}
.circle1-4 {
  position: absolute;
  top: 490px; /* Ajusta la distancia desde la parte superior */
  right: 573px; /* Ajusta la distancia desde el borde derecho */
  width: 15px; /* Ancho del círculo */
  height: 15px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1-4 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}



.circle5 {
  position: absolute;
  top: 510px; /* Ajusta la distancia desde la parte superior */
  right: 550px; /* Ajusta la distancia desde el borde derecho */
  width: 60px; /* Ancho del círculo */
  height: 60px; /* Altura del círculo */
  background-color: #DDF2FD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle5 p {
  margin: 0;
  font-size: 20px; /* Tamaño del texto dentro del círculo */
}







