html, body {
  height: 100%;
  margin: 0;
}

body {
  flex-direction: column;
  height: 100%;
}

.top-bar {
  background-color: #c89c0b;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
}

.logo img {
  width: 260px;
  margin-right: 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar button {
  background-color: #9e9e9e;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px; 
  font-family: 'Montserrat', sans-serif;
}
.por{
  margin-top: -60px;
}
#accessibility-btn{
border-radius: 10px; /* Define el radio de los bordes para hacerlos redondeados */
padding: 10px 20px; /* Ajusta el relleno según sea necesario */
border: 2px solid black; /* Borde de 2px sólido de color negro */
background-color: #9e9e9e; /* Color de fondo del botón */
color: black;
font-size: 16px;
cursor: pointer;  
display: inline-block;
vertical-align: middle;
margin-right: 90px;
}





/* Estilos para la imagen */
.icono-accesibilidad {
  width: 30px; /* Tamaño deseado para la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}







/* Estilos para el contenido del botón */
.contenido-boton {
  display: flex; /* Utiliza flexbox para el contenido */
  align-items: center; /* Centra verticalmente los elementos dentro del botón */
  justify-content: center; /* Centra horizontalmente los elementos dentro del botón */
}

#egresados-btn{
  border-radius: 10px; /* Define el radio de los bordes para hacerlos redondeados */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  border: 2px solid black; /* Borde de 2px sólido de color negro */
  background-color: #2d3a81   ; /* Color de fondo del botón */
  color: black;
  font-size: 16px;
  color: white;
  cursor: pointer;  
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.icono-egresados {
  width: 30px; /* Tamaño deseado para la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.search-bar input {
  display: flex;
align-items: center;
width: 300px; /* Ancho de la barra de búsqueda */
margin: 20px;
height: 40px;
border-radius: 20px;
}

button {
  background-color: #9e9e9e;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.side-menu {
  background-color: #2d3a81;
  color: #fff;
  padding: 10px;
  position: absolute;
  height: 120%;
  width: 200px;
  overflow-y: auto;
  transition: margin-left 0.3s; 
}

.side-menu button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  border-color: black;
  border-width: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}






/*Seccion de seguimiento*/

.h2Seguimiento {
  /* Estilos específicos para el h2 de Seguimiento */
  font-size: 30px; /* Cambiar el tamaño de la fuente */
  color: black; /* Cambiar el color del texto */
  text-align: left; /* Cambiar la alineación del texto */
  /* Propiedades de posición */
  position: absolute;
  top: 235px; /* Distancia desde la parte superior */
  left: 700px; /* Distancia desde la izquierda */
  right: 40px; /* Distancia desde la derecha */
  bottom: 10px; /* Distancia desde la parte inferior */
  /* Agregar otros estilos según necesites */
}

.h2textSeguimiento {
  /* Estilos específicos para el h2 de Seguimiento */
  font-size: 20   px; /* Cambiar el tamaño de la fuente */
  color: black; /* Cambiar el color del texto */
  text-align: left; /* Cambiar la alineación del texto */
  /* Propiedades de posición */
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 300px; /* Distancia desde la parte superior */
  left: 700px; /* Distancia desde la izquierda */
  right: 40px; /* Distancia desde la derecha */
  bottom: 10px; /* Distancia desde la parte inferior */
  /* Agregar otros estilos según necesites */
}

.megafono {
  /* Estilos para la clase megafono */
  position: absolute; /* Se posiciona de forma absoluta */
  top: 250px; /* Distancia desde la parte superior */
  left: 450px; /* Distancia desde la izquierda */
  right: 150px; /* Distancia desde la derecha */
  bottom: 50px; /* Distancia desde la parte inferior */
  width: 200px; /* Ancho del elemento */
  height: 200px; /* Altura del elemento */
  /* Agregar otros estilos según sea necesario */
}






   /* Estilos para las imágenes */
.contenedor-imagen {
  position: relative;
  display: inline-block;
  left: 400px;
  top: 425px;
  margin: 25px; /* Espacio entre las imágenes */
}






/* Estilos para los textos debajo de las imágenes */
.contenedor-imagen h2 {
  position: relative;
  bottom: -30px; /* Ajusta la posición vertical del texto */
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 10px; /* Espacio entre el texto y la imagen */
  max-width: 225px; /* Ancho máximo del h2 */
}






/* Estilos para las imágenes */
.paso1, .paso2, .paso3, .paso4 {
  width: 200px;
  height: auto;
}




  /* Estilos para el botón */
.boton-modal {
  background-color: #2d3a81;
margin-top: -50px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
<<<<<<< HEAD
  top: 850px; /* Ajusta la posición vertical del botón */
  left: 700px; /* Ajusta la posición horizontal del botón */
=======
  top: 900px; /* Ajusta la posición vertical del botón */
  left: 750px; /* Ajusta la posición horizontal del botón */
>>>>>>> parent of 6f86d7d (Ajustes y avance migajas de pan)
  cursor: pointer;
  border: none;
  border-radius: 5px;
}







    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      position: relative;
    }






    /* Estilos para los botones dentro del modal */
    .close-button {
      background-color: #ccc;
      color: black;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      margin-top: 10px;
      margin-right: 10px;
    }

    .close-button:hover {
      background-color: #ddd;
    }

    


/* Estilos para la accesibilidad */
#accessibility-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
  width: 200px; /* Ajusta el ancho del menú según tus necesidades */
}

.accessibility-menu h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2d3a81;
}

.accessibility-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accessibility-menu button {
  background-color: #2d3a81;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%; /* Ajusta el ancho de los botones para que coincida con el menú */
}

.accessibility-menu button:hover {
  background-color: #1e266d;
}

.boton-accesibilidad:hover {
  background-color: #1e266d; /* Cambia el color de fondo al pasar el cursor sobre el botón de accesibilidad */
}





.modal-contenido p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto; /* Permite desplazamiento si el contenido es mayor que el tamaño del modal */
}

.modal-contenido {
  background-color: #fff;
  max-width: 90%; /* Limita el ancho del contenido */
  max-height: 90%; /* Limita la altura del contenido */
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede el límite */
}

<<<<<<< HEAD






=======
>>>>>>> parent of 6f86d7d (Ajustes y avance migajas de pan)
/* Estilos para cerrar el modal (se mantienen) */
.cerrar-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}